    
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

    <!-- Katex rendering -->
    <script>
        document.querySelectorAll("script[type='math/tex']").forEach(function(el)
        {
            el.outerHTML = `<span class="inline-equation">${katex.renderToString(el.innerText)}</span>`;
        })

        document.querySelectorAll("script[type='math/tex; mode=display']").forEach(function(el)
        {
            el.outerHTML = `<div class="equation">${katex.renderToString("\\displaystyle "+el.innerText)}</div>`;
        })

        document.querySelectorAll("img.emoji").forEach(function(el)
        {

            let src = el.getAttribute("src");
            const rgx = /(\/)(\w*)(\.png)/;

            let id = rgx.exec(src)[2];

            el.setAttribute("src", "https://twemoji.maxcdn.com/2/svg/" + id + ".svg");

            const size = "22"
            el.setAttribute("width", size);
            el.setAttribute("height", size);
            el.setAttribute("style", "vertical-align:middle;");
        })
        
        document.querySelectorAll("canvas[class='canvas-nomnoml']").forEach(function(el)
        {
            let file = el.getAttribute("src")
            fetch(file).then(function(response){
                response.text().then(function(text){
                    nomnoml.draw(el, text);
                    let img = el.toDataURL("image/png", 1);
                    let img_elem = document.createElement("img")
                    img_elem.src = img
                    el.parentNode.insertBefore(img_elem, el.nextElementSibling)
                    el.parentNode.removeChild(el)
                    /*
                    let a_tag = document.createElement("a");
                    a_tag.appendChild(document.createTextNode("display as image"))
                    a_tag.setAttribute("href", img)
                    el.parentNode.insertBefore(a_tag, el.nextElementSibling)
                    */
                });
            });
        })

    </script>

  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}