<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  
  {% include head.html %}

  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <p class="view">
          <a href="{{ site.github.owner_url }}">View My GitHub Profile</a><br>
          <a href="/about">About</a>
        </p>

      </header>
    <section>

      {{ content }}

    </section>

    {% include footer.html %}

    </div>

    {% include scripts.html %}

  </body>
</html>